        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ '/' | relative_url }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ '/about' | relative_url }}">About</a></li>
        <li class="nav-speaking {% if page.current == 'speaking' %} nav-current{% endif %}" role="presentation"><a href="{{ 'speaking' | relative_url }}">Speaking</a></li>
        <li class="nav-contact {% if page.current == 'contact' %} nav-current{% endif %}" role="presentation"><a href="{{ 'contact' | relative_url }}">Contact</a></li>
        