        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <li class="nav-speaking {% if page.current == 'speaking' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}speaking">Speaking</a></li>
        <li class="nav-contact {% if page.current == 'contact' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}contact">Contact</a></li>
        