<ul>
  <li>
    <a href="{{ root_url }}/atom.xml">RSS</a>
  </li>
  <li>
    <a href="https://twitter.com/iwantmyrealname">twitter</a>
  </li>
  <li>
    <a href="https://app.net/samd">adn</a>
  </li>
  <li>
    <a href="https://plus.google.com/101617378418592701939/posts">g+</a>
  </li>
  <li>
    <a href="https://github.com/sammyd">github</a>
  </li>
  <li>
    Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
    <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
  </li>
</ul>
