<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/about">About</a></li>
  <li class="icons">
    <a href="https://twitter.com/iwantmyrealname"><i class="icon-twitter"></i></a>
    <a href="https://plus.google.com/101617378418592701939"><i class="icon-google-plus"></i></a>
    <a href="https://app.net/samd"><i class="icon-adn"></i></a>
    <a href="http://stackoverflow.com/users/1127633/sammyd"><i class="icon-stackexchange"></i></a>
    <a href="https://github.com/sammyd"><i class="icon-github"></i></a>
    <a href="https://bitbucket.org/sammyd"><i class="icon-bitbucket"></i></a>
  </li>
</ul>
